@media (min-width: 768px) {
  .pageView {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-between;
  }
}

.createView {
  flex: 1;
  flex-wrap: wrap;
  flex-basis: 50%;
  box-sizing: border-box;
  padding: 90px;
  margin-bottom: 12px;
}

.returnView {
  flex: 1;
  flex-wrap: wrap;
  flex-basis: 50%;
  box-sizing: border-box;
  background-image: url("./backgroundimage.jpg");
  background-size: cover;
}

.button {
  background-color: black;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 20px;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 200px;
  cursor: pointer;
}

.signinbutton {
  background-color: gray;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 20px;
  color: white;
  opacity: 0.7;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 70px;
  margin-left: 400px;
  width: 200px;
  cursor: pointer;
}
